<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Run For Me</title>
  </head>
  <body>
    
    {% extends 'base.template.html' %}
    

    
    {% if request.user.username%}
    Logged in as: {{request.user.username}}
    {% endif %}
    
    {% block content %}
    
    <div class="jumbotron d-flex align-items-stretch">
      <div class="container">
        <h1 class="display-4">Welcome to Run for Me</h1>
        <hr class="my-3">
        <div class="row">
          <p class="lead col-6">The better way to reach for help.</p>
          {% if not user.is_authenticated %}
          <a class="btn btn-primary btn-lg col-2 mx-1" href="{% url 'register' %}" role="button">Sign Up</a>
          <a class="btn btn-primary btn-lg col-2 mx-1" href="{% url 'login'%}" role="button">Log In</a>
          {% endif %}
          {% if user.is_authenticated %}
          <a class="btn btn-primary btn-lg col-2 mx-1" href="{% url 'request-run' %}" role="button">Request</a>
          <a class="btn btn-primary btn-lg col-2 mx-1" href="{% url 'relief-run'%}" role="button">Relief</a>
          {% endif %}
        </div>
      </div>
    </div>
    
    <div class="container">
      <div class="row mb-5">
      <h1>About Us</h1>
      <p>
        From working to caring for the family, we know how you feel. That is why
        we developed Run for Me. A webpage application to help you ease your 
        worries away. Need some help? Drop down a request through our form! 
      </p>
      </div>
      <div class="row mb-5">
      <h1>How It Works</h1>
      <p>
        Payment are made through Stripe. They'll ensure a safe and reliable 
        charging system. How much do you pay? You decide! We do recommend that 
        you cover the cost to run your errands and a little more for their 
        trouble.
      </p>
      </div>
    </div>
    
    {% endblock %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>