

{% extends 'base.template.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load mathfilters %}


{% block content %}
<h1>Please fill in the details</h1>
<form role="form" method="POST" id="payment-form">
  <legend>Payment Details</legend>
  
  <label class='label'>
         Total Cost:
  </label>
  <span>${{get_cost}}</span>
  
  <div class="form-group col-md-6">
      {{ order_form | crispy }}
  </div>

  <div class="form-group col-md-6">
      {{ payment_form | crispy }}
  </div>

  {% csrf_token %}
  
  
  
  <input type='hidden' value='{{cost}}' name='cost'/>
  
  <div class="form-group col-md-12">
      <input class=" btn btn-primary" id="submit_payment_btn" name="commit" type="submit" value="Submit">
  </div>
  
</form>

  
{% endblock %}

{% block footer_js %}
  <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
  <script type="text/javascript">
      //<![CDATA[
          Stripe.publishableKey = '{{ publishable }}';
      //]]>
  </script>
  <script type="text/javascript" src="{% static '/payment/stripe.js' %}"></script>
{% endblock %}

