{% extends 'base.template.html' %}
{% load mathfilters %}

{% block content%}
<h1>Request a Run!</h1>
<a class="btn btn-primary" href="{% url 'add-request' %}">Add Request</a>

{% for each_order in personal_orders %}
<div class="card my-3 h-100">
  <div class="card-body" style="height:350px;">
    <h5 class="card-title">Ref. Number: {{each_order.sku}}
    <span><a href="#">Edit</a> <a href="#">Delete</a></span>
    </h5>
    <div class="row">
      <div class="col-6" style="height:200px;">
        <p class="card-text text-truncate" style="height:150px;" >Details: <br>{{each_order.bid}} </p>
        <span>${{each_order.cost|mul:1.00}}</span>
    
        <a href="{% url 'request-info' %}">Read more...</a>
      </div>
      
      <div class="col-6">
        <p class="card-text">Request Date: <br>{{each_order.post_date}} </p>
        <p class="card-text">Due Date: <br>{{each_order.due_date}} </p>
        <p class="card-text">Urgency: <br>{{each_order.urgency}}</p>
        <p class="card-text">Status: <br>[Test]Request Picked Up </p>
      </div>
      
    </div>
  </div>
</div>
{% endfor %}


{% endblock %}

