{% extends 'base.template.html' %}
{% load crispy_forms_tags %}

{% block content%}
<div class="container-fluid">
    
    <p><h6>Order Number: </h6><span>{{order.sku}}</span></p>
    
    <p><h6>Urgency: </h6><span>{{order.urgency}}</span></p>
    
    <p><h6>Due Date: </h6><span>{{order.due_date}}</span></p>
    
    <p><h6>Name: </h6><span>{{order.full_name}}</span></p>
    
    <p><h6>Contact: </h6><span>{{order.contact}}</span></p>
    
    <p><h6>Address: </h6><span>{{order.full_address}}</span></p>
    
    <p><h6>Postcode: </h6><span>{{order.postcode}}</span></p>
    
    <p><h6>Request: </h6><span>{{order.run_request}}</span></p>
    
    <p><h6>Image: </h6><img src="{{order.image.url}}" /></p>
  
</div>

<a href="{% url 'request-run' %}" class='btn btn-primary m-4'>Back</a>

{% endblock %}

